In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [2]:
#구글 드라이브 mount
from google.colab import drive

drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
#해당 위치의 파일 확인
!ls -l '/content/drive/My Drive/Colab Notebooks/datasets/creditCardFraud.zip'

-rw------- 1 root root 69155672 Sep 23 03:10 '/content/drive/My Drive/Colab Notebooks/datasets/creditCardFraud.zip'

In [4]:
#압축 풀기
!unzip /content/drive/My\ Drive/Colab\ Notebooks/datasets/creditCardFraud.zip

Archive:  /content/drive/My Drive/Colab Notebooks/datasets/creditCardFraud.zip
  inflating: creditcard.csv

In [5]:
#현재 위치에 있는 파일목록
!ls -l

total 147304
-rw-r--r-- 1 root root 150828752 Sep 20  2019 creditcard.csv
drwx------ 5 root root      4096 Dec  8 07:51 drive
drwxr-xr-x 1 root root      4096 Dec  3 14:33 sample_data

In [21]:
#csv 파일 읽어오기
card_df = pd.read_csv('creditcard.csv')

card_df.head(3)

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0   0.0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62      0
1   0.0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69      0
2   1.0 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66      0

[3 rows x 31 columns]

#1) iloc 
## → 행번호(index)와 열번호로 선택하는 방법 
- Series or DataFrame으로 반환
- [1:5]이면 1,2,3,4까지이고, 5가 포함되지 않음!

In [57]:
card_df.iloc[0]

Time        0.000000
V1         -1.359807
V2         -0.072781
V3          2.536347
V4          1.378155
V5         -0.338321
V6          0.462388
V7          0.239599
V8          0.098698
V9          0.363787
V10         0.090794
V11        -0.551600
V12        -0.617801
V13        -0.991390
V14        -0.311169
V15         1.468177
V16        -0.470401
V17         0.207971
V18         0.025791
V19         0.403993
V20         0.251412
V21        -0.018307
V22         0.277838
V23        -0.110474
V24         0.066928
V25         0.128539
V26        -0.189115
V27         0.133558
V28        -0.021053
Amount    149.620000
Class       0.000000
Name: 0, dtype: float64

In [58]:
card_df.iloc[0:1] #이거는 DataFrame

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0   0.0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62      0

[1 rows x 31 columns]

In [52]:
card_df.iloc[[0,1],[0]] #(0,0),(1,0) 이거는 DataFrame

   Time
0   0.0
1   0.0

In [53]:
card_df.iloc[:2,0] #이거는 Series

0    0.0
1    0.0
Name: Time, dtype: float64

In [59]:
card_df.iloc[[0,1],[0,1]] #(0,0),(0,1),(1,0),(1,1) 이거는 DataFrame

   Time        V1
0   0.0 -1.359807
1   0.0  1.191857

#2) loc 
##→ label과 index or 조건표현으로 선택하는 방법  
- index 값으로만 해도 됨 but columns 명으로만은 안 됨

In [60]:
card_df.loc[0] # [index 값]

Time        0.000000
V1         -1.359807
V2         -0.072781
V3          2.536347
V4          1.378155
V5         -0.338321
V6          0.462388
V7          0.239599
V8          0.098698
V9          0.363787
V10         0.090794
V11        -0.551600
V12        -0.617801
V13        -0.991390
V14        -0.311169
V15         1.468177
V16        -0.470401
V17         0.207971
V18         0.025791
V19         0.403993
V20         0.251412
V21        -0.018307
V22         0.277838
V23        -0.110474
V24         0.066928
V25         0.128539
V26        -0.189115
V27         0.133558
V28        -0.021053
Amount    149.620000
Class       0.000000
Name: 0, dtype: float64

In [61]:
card_df.loc[0, 'Time']

0.0

In [62]:
card_df.loc[0, 'Time': 'V3'] #이렇게 하면 끝에 V3까지 포함

Time    0.000000
V1     -1.359807
V2     -0.072781
V3      2.536347
Name: 0, dtype: float64

In [63]:
card_df.loc['Time'] #이렇게 하면 에러 왜?????

KeyError: ignored

#3) 그냥
##→ DataFrame에서 선택하는 방법  
- columns 값으로만 해도 됨 but index 명으로만은 안 됨 <-> loc

In [64]:
card_df['Time']

0              0.0
1              0.0
2              1.0
3              1.0
4              2.0
            ...
284802    172786.0
284803    172787.0
284804    172788.0
284805    172788.0
284806    172792.0
Name: Time, Length: 284807, dtype: float64

In [65]:
card_df[0] #'0'으로 해도 안 됨, 왜 index 조건문은 안 될까?

KeyError: ignored

In [43]:
card_df[0,0]

KeyError: ignored

In [47]:
card_df[card_df['Time']==0.0]

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0   0.0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62      0
1   0.0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69      0

[2 rows x 31 columns]

In [68]:
card_df[card_df[0]==0.0]

KeyError: ignored

In [12]:
#Time 피처만 삭제
from sklearn.model_selection import train_test_split

def get_preprocessed_df(df=None):
  df_copy = df.copy() #DataFrame 복사
  df_copy.drop('Time', axis = 1, inplace = True) #axis = 0 → index, axis = 1 → columns
  return df_copy

In [ ]:
def get_train_test_dataset(df=None):
  df_copy = get_preprocessed_df(df) #앞에 Time 피처 삭제한 함수 반환값 대입
  X_features = df_copy.iloc[:,:-1] #-1로 한 것은 끝에 숫자를 카운트하기 귀찮아서?, 끝에서 한 칸 전까지
  y_target = df_copy.iloc[:, -1]